
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html, body {
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

svg {
    background-color: #003049; 
}
    

#canvas{
    min-width: 1000px;
    min-height: 600px;
    

}
div.tooltip {
    position: absolute;
    padding: 10px;
    font: 12px Arial;
    background: rgba(255, 255, 204, 0.9);
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
  }